#toolbar-apply{
    display:none;
}
.zasilkovna {
    font-size: 81%;
}

.zasilkovna td {
    vertical-align: inherit;
}

.zasilkovna input {
    width: inherit;
    height: inherit;
    font-size: inherit;
}

.zasilkovna .packetery-editable-input {
    width: 60px;
}

fieldset {
    margin: 35px 0 35px 10px;
}
legend {
    background-color: #cccccc;
    border-radius: 8px;
}
.repeater {
    width:40%;
}
.invalid {
    border-color: red !important;
}

.pb-10 {
    padding-bottom: 10px;
}

.va-middle {
    vertical-align: middle !important;
}

#packeteryUpdateOrderDetail {
    display:none;
    z-index: 1000;
    background-color: #ffffff;
    bottom: 55px;
}

.uk-card-body #packeteryUpdateOrderDetail fieldset {
    margin: 10px;
}

.uk-card-body #showPacketeryUpdateOrderDetail .vmicon-16-editadd {
    float: left;
    margin-right: 5px;
    position: relative;
    top: 5px;
}
