#toolbar-apply {
    display: none;
}

.zasilkovna td {
    vertical-align: inherit;
}

.zasilkovna input {
    width: inherit;
    height: inherit;
    font-size: inherit;
}

.zasilkovna .packetery-editable-input {
    width: 60px;
}

.zasilkovna.table thead th {
    font-size: 0.75rem;
    vertical-align: top;
}

.zasilkovna img {
    max-width: none;
}

.zasilkovna .error {
    background-color: #ebccd1;
}

fieldset {
    margin: 35px 0 35px 10px;
}

.repeater {
    width: 40%;
}

.invalid {
    border-color: red !important;
}

.pb-10 {
    padding-bottom: 10px;
}

.va-middle {
    vertical-align: middle !important;
}

#packeteryUpdateOrderDetail {
    display: none;
    z-index: 1000;
    background-color: #ffffff;
    bottom: 55px;
}

.uk-card-body #packeteryUpdateOrderDetail fieldset {
    margin: 10px;
}

.uk-card-body #showPacketeryUpdateOrderDetail .vmicon-16-editadd {
    float: left;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.pl-3 {
    padding-left: 1rem;
}

#zasilkovna_api_pass, #zasilkovna_eshop_label {
    max-width: 400px;
    width: 400px;
}
