.subform-repeatable-wrapper .subform-repeatable-group .control-group {
    display: flex;
}

.virtuemart-admin-area .control-field {
    padding: 5px;
}

.control-group.hidden {
    display: none;
}

.block-with-rows {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.reset-min-width {
    min-width: inherit !important;
}

.controls fieldset#params_delivery_settings__shipping_type {
    width: 250px !important;
    padding: 8px 5px 5px 5px !important;
}

.controls fieldset#params_delivery_settings__vendor_groups {
    width: 250px !important;
}

.radio div.form-check {
    padding-left: 0 !important;
}

.packeta_shipping_type input[type="radio"] {
    display: inline-block !important;
    float: left !important;
}

.packeta_shipping_type label {
    display: inline-block !important;
    clear: left !important;
    float: none !important;
    min-width: inherit !important;
    width: 80% !important;
}
