.subform-repeatable-wrapper .subform-repeatable-group .control-group {
    display: flex;
}

.virtuemart-admin-area .control-field {
    padding: 5px;
}

.control-group.hidden {
    display: none;
}
.min-width-150 {
    min-width: 150px;
}
.min-width-200 {
    min-width: 200px;
}
